body {
    background-image: url("Assets/Images/background.jpg");
    background-size: 160%;
}

img {
    margin-left: 990px;
    width: 3%;
}

::-webkit-scrollbar {
    display: none;
}

#HeaderStack {
    margin-bottom: 125px;
}

div.card-body {
    color: darkblue;
}

.ViewExpenseBody {
    margin-left: 120px;
}

.DeleteExpenseBtn.btn {
    border: 0px solid;
    margin-right: 249.5px;
}

.DeleteExpenseBtn.btn:hover {
    background-color: white;
}

/* Removing bootstrap border from a button and moving it to the left side */
.DeleteBudgetBtn.btn {
    border: 0px;
    margin-right: 181px;
}

.DeleteBudgetBtn.btn:hover {
    padding: 4px 12px;
}

.ModalTitle {
    margin-left: 298px;
}

.ViewExpensesTitle {
    margin-left: 10px;
}

.NewBudgetTitle {
    margin-left: 325px;
}



/* Adjusting mobile Settings */

@media only screen and (max-width: 1400px) {
    .ContentDiv {
        width: 90%;
        margin-left: 17px;
    }

    img {
        margin-left: 350px;
        width: 6%;
    }
}

@media only screen and (max-width: 800px) {
    img {
        margin-left: 160px;
        width: 7%;
    }
}

@media only screen and (max-width: 400px) {
    img {
        margin-left: 130px;
        width: 7%;
    }

    button.AddBudgetBtn,
    button.btn.btn-outline-light {
        padding: 5px;
        font-size: 12px;

    }
}